body {
  color: red;
}

h1 {
  color: #00ff00;
}
p 
{
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}
div {
  height: 200px;
}

img {
  height: 100%;
}
div {
  margin: 20px;
}

h1 {
  margin: 10px 20px;
}

p {
  margin: 0;
}
div {
  padding: 10px;
}

h1 {
  padding: 10px 20px;
}

p {
  padding: 0;
}
h1 {
  text-align: center;
}

p {
  text-align: justify;
}
